<!DOCTYPE html>
  <head>
    <meta charset=utf-8 />
    <title>StopHop</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.css' rel='stylesheet' />
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="jquery-1.11.1.min.js"></script>
    <script src="polyline.js"></script>
    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.js'></script>
  </head>
  <body>  
    <input id='dateTime' type=datetime-local>
    <div id="leaveNow">
      <input type="checkbox" name="leaveNow">Leave now
    </div> 
    <div id='map'></div>
    <a class='ui-button_marker'>Add destination</a>
    <a class='ui-button_route'>Find route</a>
    <a class='startOver'>Start over</a>
        
    <div id="minuteDelay2">
      Time needed at stop #2: <input id="delayTime2" type="number" name="quantity" placeholder="Minutes" min="0">
    </div>
    <div id="minuteDelay3">
      Time needed at stop #3: <input id="delayTime3" type="number" name="quantity" placeholder="Minutes" min="0">
    </div>
    <div id="minuteDelay4">
      Time needed at stop #4: <input id="delayTime4" type="number" name="quantity" placeholder="Minutes" min="0">
    </div>

    <div id="roundTrip">
      <input type="checkbox" name="roundTrip">Roundtrip
    </div>  

    <script type='text/javascript' src="../static/js/script.js"></script>

  </body>
</html>