<!DOCTYPE html>
  <head>
    <meta charset=utf-8 />
    <title>Map</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.css' rel='stylesheet' />
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="jquery-1.11.1.min.js"></script>
    <script src="polyline.js"></script>
    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.js'></script>
  </head>
  <body>  
    <input id='dateTime' type=datetime-local>
    <div id='map'></div>
    <a class='ui-button_marker'>Add destination</a>
    <a class='ui-button_route'>Find route</a>
    <!-- <pre id='coordinates' class='pointA-coordinates'></pre>
    <pre id='coordinates2' class='pointB-coordinates2'></pre>
    <pre id='coordinates3' class='pointC-coordinates3'></pre> -->

    <form id='minuteDelay' action="demo_form.asp">
      Time needed at stop #2: <input type="number" name="quantity" placeholder="Minutes" min="0">
      <input type="submit">
    </form>

    <script type='text/javascript' src="../static/js/script.js"></script>

  </body>
</html>