<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery.parseXML test</title>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
 
<p id="someElement"></p>
<p id="anotherElement"></p>
 
<h1>"MARKDOWN FOR WHAT?"</h1>

<script>


var xml = "http://localhost:8080/otp/routers/default/plan?fromPlace=45.52282%2C-122.6766&toPlace=45.52282%2C-122.69&time=3%3A20pm&date=07-16-2014&mode=TRANSIT%2CWALK&maxWalkDistance=750&arriveBy=false&showIntermediateStops=false",
  xmlDoc = $.parseXML( xml ),
  $xml = $( xmlDoc ),
  $plan = $xml.find( "plan" );
 
// Append "RSS Title" to #someElement
$( "#someElement" ).append( $plan.text() );
 
// Change the title to "XML Title"
$plan.text( "XML Plan" );
 
// Append "XML Title" to #anotherElement
$( "#anotherElement" ).append( $plan.text() );
</script>
 
</body>
</html>